#controls{
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:1fr;
}

@media only screen and (max-width: 1100px) {
  #controls{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  #wrapper{
    grid-template-columns: auto;
  }

  #products{
    grid-column: 1/2;
  }

  #balusterGallery{
    grid-row:1;
  }

  #newelGallery{
    grid-row:2;
  }

  #handrailGallery{
    grid-row:3;
  }

  #room{
    grid-column: 1/2;
    grid-row: 4;
  }
}

.control{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

#controls h2{
  text-align: center;
  font-size: 1.25rem;
  margin: .5rem;
}

.stepsControl{
  padding-top: 10px;
  margin-bottom: -20px;
}

#stepsSlider{
  grid-column: 2 / 4;
  margin-bottom: 2rem;
}

.switchText{
  margin: .5em;
  margin-top: .5em;
}
