#room{
	grid-column: 2 / 3; 
	grid-row:1;
	border:4px solid #7E291E;
	background: #E9EBEC;
	border-radius: 0.5rem;
	min-width: 36rem;
	height: 36rem;
	display: inline-block;
	position: relative;
	transition: all .3s ease, top 0s;
}

#stair{
	position: absolute;
}

#handrail{
	position: absolute;
	z-index: 10;
}

#baluster{
	position: absolute;
	z-index: 1;
}

#kneewall{
	position: absolute;
	z-index: 60;
}

.step{
	position: absolute;
	height: 5rem;
}

.rail{
	position: absolute;
	height: 3.185rem;
}


.baluster{
	position: absolute;
	height: 10.23rem;
	transform: translateY(-10.23rem);
	overflow: hidden;
}

.baluster img{
	height: 10.23rem;
}


.crop1{
	height: 9rem;
}

.newel{
	position: absolute;
	height: 12.4rem;
	transform: translateY(-100%);
}




.knee{
	position: absolute;
	height: 5rem;
}

.kneeFill{
	position: absolute;
}

.knee.bottom{
	height: 5.36rem;
}
