
.promoText{
	width: 100%;
	margin: 1rem;
  margin-bottom: 2rem;
	display: inline-block;
	position: relative;
}

.promoTextLeft{
	display: inline-block;
	position: absolute;
	font-size: 2em;
	font-weight: 800;
	text-transform: uppercase;
	transform: translateY(-50%);
}

.promoTextRight{
	display: block;
	margin-right: 4rem;
	text-align: right;
	font-size: 1.5em;
	font-weight: 300;
	text-transform: uppercase;
	transform: translateY(-50%);
}


#buyButton{
	text-align: center;
	padding: 1.25rem 2rem;
	border-radius: 0.25rem;
	background: lightblue;
	font-size: 1.5rem;
	font-weight: 300;
	transition: all 0.5s ease-in 0s;
	cursor: pointer;
}

#buyButton:hover{
	background: #0f0;
}


.switch {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f07b32;
  -webkit-transition: .4s;
  transition: .4s;
}

.colored{
  background-color: purple;
}

.colored2{
  background-color: green;
}


.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider.colored {
  background-color: blue;
}

input:checked + .slider.colored2 {
  background-color: black;
}


input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/*range input*/
.sliderRange {
  margin-top: 10px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #777;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border:3px black solid;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
  box-sizing: content-box;
}

.sliderRange::-moz-range-thumb {
  box-sizing: content-box;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border:3px black solid;
  background: white;
  cursor: pointer;
}

 #title .logo{
 	width: 90%;
 	filter: invert(100%);
 }


#title{
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr;
	height: 6rem;
}

#title h1{
	font-size: 2.5rem;
}