 @import url("https://use.typekit.net/pxg6bop.css");

 *:not(.balusterItem){
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	/*Properties to disable selection*/
 	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;	
    user-drag: none; 
	-webkit-user-drag: none;
 }

.dragItem{
	user-drag: element; 
	-webkit-user-drag:element;
}

html{
	font-size: 16px;
	scroll-behavior: smooth;
}

body{
 	background: #DFE1E6;
 	font-family:"aileron";
 }


#container{
	width: 90%;
	margin: 3rem auto;
}

.bordered{
	border-radius: 0.5rem;
	border:4px solid #7E291E;
}


#wrapper{
	margin-top: 1.5rem;
	width: 100%;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: 1.25fr 0.75fr;
}

.footer{
	width: 100%;
	margin-top: 1.5rem;
	padding: 1rem;
}



#products{
	grid-column: 1/2;
	height: 36rem;
	border:4px solid #7E291E;
	position: relative;
	display:grid;
	grid-template-rows: auto 1fr auto;
	align-items: center;
	border-radius: 0.5rem;
	padding: 2rem;
	background: #E9EBEC;
}



#actualProducts{
	display:grid;
	justify-content: bottom;
	grid-template-columns: repeat(3, 1fr);
}




