 @import url("https://use.typekit.net/pxg6bop.css");

 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

html{
	font-size: 16px;
}

body{
 	background: #c2c5a9;
 	font-family:"aileron";
 }



#container{
	width: 90%;
	margin: 3rem auto;
}

#wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#room{
	background: #c8d8f3;
	border-radius: 0.5rem;
	width: 36rem;
	height: 36rem;
	display: inline-block;
	position: relative;
	margin: 2rem;
	margin-top: 0;
	transition: all .3s ease;
}

#controls{
	max-width: 36rem;
	border-radius: 0.5rem;
	padding: 2rem;
	flex-grow: 1;
	background: #c8d8f3;
	margin-bottom: 2rem;
}

#products{
	position: relative;
	display:grid;
	grid-template-rows: auto 1fr auto;
	align-items: center;
	max-width: 36rem;
	border-radius: 0.5rem;
	padding: 2rem;
	flex-grow: 1;
	background: #c8d8f3;
	margin-bottom: 2rem;
}

#stair{
	position: absolute;
}

#handrail{
	position: absolute;
	z-index: 10;
}

#baluster{
	position: absolute;
	z-index: 1;
}


.promoText{
	width: 100%;
	margin: 1rem;
	display: inline-block;
	position: relative;
}

.promoTextLeft{
	display: inline-block;
	position: absolute;
	font-size: 3em;
	font-weight: 800;
	text-transform: uppercase;
	transform: translateY(-50%);
}

.promoTextRight{
	display: block;
	margin-right: 4rem;
	text-align: right;
	font-size: 1.5em;
	font-weight: 200;
	text-transform: uppercase;
	transform: translateY(-50%);
}


#buyButton{
	text-align: center;
	/*position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-150%);*/
	padding: 1.25rem 2rem;
	border-radius: 0.25rem;
	background: lightblue;
	font-size: 1.5rem;
	font-weight: 300;
	transition: all 0.5s ease-in 0s;
	cursor: pointer;
}

#buyButton:hover{
	background: #0f0;
}


#balusterGallery{
	/*max-width: 90rem;*/
	width: 100%;
	margin-right: 3rem;
	border-radius: 0.5rem;
	background: #c8d8f3;
	padding: 2em;
	margin-top: 2em;
}

#balusterGalleryItems{
	width: 100%;
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, 1.6rem);
}


#actualProducts{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
}



.balusterItem{
	width: : 2rem;
	padding: 1em;
	display: inline-block;
	border-radius: 0.2rem;
	transition: all 0.3s ease;
	transform: scale(0.75);
}

.balusterItem:hover{
	cursor: pointer;
	transform: scale(1);
}


.balusterProductItem{
	text-align: center;
	width: 1.6rem;
}